.col-xl-4{

    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.card{
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: .25rem;
}
.overflow-hidden {
    overflow: hidden!important;
}

.bg-soft-primary {
    background-color: rgba(85,110,230,.25)!important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}


.text-primary {
    color: #556ee6!important;
}
.p-3 {
    padding: 1rem!important;
}

.align-self-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end!important;
}
.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
    vertical-align: middle;
    border-style: none;
}

.rounded-circle {
    border-radius: 50%!important;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #f8f8fb;
    border: 1px solid #f6f6f6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.pt-0, .py-0 {
    padding-top: 0!important;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.profile-user-wid {
    margin-top: -26px;
}
.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.font-size-15 {
    font-size: 15px!important;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #495057;
}
.h5, h5 {
    font-size: 1.01562rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.text-muted {
    color: #74788d!important;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

.font-size-15 {
    font-size: 15px!important;
}

.mt-4{
    margin-top: 1.5rem!important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .71094rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-primary {
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #495057;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .47rem .75rem;
    font-size: .8125rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
 button {
    outline: 0!important;
}

a {
    color: #556ee6;
    text-decoration: none;
    background-color: transparent;
    text-decoration: none!important;
    outline: 0!important;
}